package {{packageName}};

/**
*
*/ 
public class {{builderClassName}} {
    private final {{className}} target = new {{className}}();

    public static {{builderClassName}} builder() {
        return new {{builderClassName}}();
    }
{{#methods}}
    public {{builderClassName}} {{setterName}}({{type}} {{name}}) {
        target.set{{capitalizename}}({{name}});
        return this;
    }
{{/methods}}
    public {{className}} build() {
        return target;
    }
}
